In [88]:
import pandas as pd
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns

import regex as re
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import nltk
nltk.download('punkt')

import spacy
from spacy import displacy
import en_core_web_sm

[nltk_data] Downloading package punkt to /home/teresa/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [81]:
songs = pd.read_csv("../sample_25percent.csv")
songs["tokenized"] = "0"
songs

,Unnamed: 0,artist,song,text,number_of_tokens,tokenized
0,20468,Van Halen,Take Your Whiskey Home,well my baby she don't want me around. she ...,1197,0
1,41605,Lil Wayne,Army Gunz,yeah yeah yeah (i got army gunz) yeah yeah ...,2860,0
2,52292,Stevie Wonder,Isn't She Lovely,isn't she lovely isn't she wonderful isn't s...,580,0
3,42697,Mariah Carey,O Holy Night,o holy night the stars are brightly shining i...,408,0
4,27993,Clash,I'm So Bored With The U.S.A.,yankee soldier he want to shoot some skag he...,610,0
...,...,...,...,...,...,...
12703,25325,Billie Holiday,My Last Affair,can't you see what love and romance have done...,461,0
12704,28783,Dave Matthews Band,The Space Between,you cannot quit me so quickly is no hope in y...,1620,0
12705,18645,Squeeze,Crying In My Sleep,breaking up is breaking my heart is showing ...,894,0
12706,32684,Foo Fighters,Dear Lover,dear lover do you remember? the sound of you...,691,0
12707,9201,Jason Mraz,Kickin' With You,ahhhh oh kickin' with you wooh huh yeah uh...,1657,0

In [94]:
stop_words = set(stopwords.words('english')) 

def tokenize(text):
    string=re.sub("[^\P{P}]", "", text)
    #word_tokens = word_tokenize(string) 
  
    #filtered_sentence = [w for w in word_tokens if not w in stop_words] 
    return string

In [104]:
artist = songs.artist[0]
string = songs.text[0]
string = tokenize(string)
nlp = en_core_web_sm.load()
doc = nlp(string)

In [101]:
tokens = []
for token in doc:
    d = {"text":token.text, "lemma":token.lemma_, "pos":token.pos_, "tag":token.tag_, "dep":token.dep_,"shape":token.shape_, "alpha":token.is_alpha, "stop":token.is_stop}
    tokens.append(d)
pos = pd.DataFrame(data=tokens)

In [102]:
pos

        text    lemma    pos   tag     dep shape  alpha   stop
0       well     well   INTJ    UH    ROOT  xxxx   True   True
1                      SPACE   _SP                False  False
2         my   -PRON-    DET  PRP$    poss    xx   True   True
3       baby     baby   NOUN    NN    intj  xxxx   True  False
4                      SPACE   _SP                False  False
..       ...      ...    ...   ...     ...   ...    ...    ...
268      you   -PRON-   PRON   PRP   nsubj   xxx   True   True
269     take     take   VERB   VBP   advcl  xxxx   True   True
270     your   -PRON-    DET  PRP$    poss  xxxx   True   True
271  whiskey  whiskey   NOUN    NN    dobj  xxxx   True  False
272     home     home    ADV    RB  advmod  xxxx   True  False

[273 rows x 8 columns]

In [107]:
# displacy.render(doc, style='dep')

In [110]:
pd.DataFrame(pos.text).

        text
0       well
1
2         my
3       baby
4
..       ...
268      you
269     take
270     your
271  whiskey
272     home

[273 rows x 1 columns]